<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:inline="text">[[${title}]]</title>
<style type="text/css">
body {
	text-align: center;
}

th {
	background: skyblue;
	font-weight: normal;
}

tr:nth-of-type(even) {
	background: lightcyan;
}

tr:nth-of-type(odd) {
	background: rgb(255, 244, 213);
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}

.title {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.con {
	width: auto;
	display: inline-block;
	text-align: left;
}

hr {
	margin-bottom: 20px;
	background: lightgrey
}

.detailBox {
	margin: 0px;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}

.detailLog {
	margin: 0px;
	margin-left: 5px;
}
</style>
</head>
<body>
	<div class="con">
		<p id="ipPathTitle" class="title">IP Paths</p>
		<table style="width: 100%" aria-describedby="ipPathTitle">
			<tr>
				<th scope="col">IP</th>
				<th scope="col">Country</th>
				<th scope="col">ISP</th>
				<th scope="col">Direct</th>
				<th scope="col">Worker</th>
				<th scope="col">Reject</th>
				<th scope="col">Local Reject</th>
				<th scope="col">Host Names</th>
				<th scope="col">PATH</th>
				<th scope="col">Last Time</th>
			</tr>
			<tr th:each="ipPath : ${ipPaths}">
				<td th:text="${ipPath.ip}" />
				<td th:text="${ipPath.country}" />
				<td th:text="${ipPath.isp}" />
				<td th:text="${ipPath.direct}" />
				<td th:text="${ipPath.fromWorker}" />
				<td th:text="${ipPath.isReject}" />
				<td th:text="${ipPath.localReject}" />
				<td th:text="${ipPath.hostNames}" />
				<td th:text="${ipPath.paths}" />
				<td th:text="${ipPath.lastTimedf}" />
			</tr>
		</table>
		<hr />
		<p id="ipInfoTitle" class="title">IP Info</p>
		<table style="width: 100%" aria-describedby="ipInfoTitle">
			<tr>
				<th scope="col">IP</th>
				<th scope="col">Direct</th>
				<th scope="col">Country Code</th>
				<th scope="col">Country</th>
				<th scope="col">City</th>
				<th scope="col">ISP</th>
				<th scope="col">ORG</th>
				<th scope="col">AS</th>
				<th scope="col">ASNAME</th>
				<th scope="col">MOBILE</th>
				<th scope="col">QTime</th>
			</tr>
			<tr th:each="ipinfp : ${ips}">
				<td th:text="${ipinfp.query}" />
				<td th:text="${ipinfp.direct}" />
				<td th:text="${ipinfp.countryCode}" />
				<td th:text="${ipinfp.country}" />
				<td th:text="${ipinfp.city}" />
				<td th:text="${ipinfp.isp}" />
				<td th:text="${ipinfp.org}" />
				<td th:text="${ipinfp.as}" />
				<td th:text="${ipinfp.asname}" />
				<td th:text="${ipinfp.mobile}" />
				<td th:text="${ipinfp.qtimedf}" />
			</tr>
		</table>

	</div>
</body>
</html>
